<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">{{userName}}</strong> </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('security')}" [authorized]="'security'">
                <a><i class="fa fa-th-large"></i> <span class="nav-label">Seguridad</span></a>
                <ul class="nav nav-second-level collapse in">
                    <li [ngClass]="{active: activeRoute('/security/logs')}" [authorized]="'security/logs'">
                        <a [routerLink]="['/security/logs']">Logs</a>
                    </li>
                    <li [ngClass]="{active: activeRoute('/security/objects')}" [authorized]="'security/objects'">
                        <a [routerLink]="['/security/objects']">Objetos</a>
                    </li>
                    <li [ngClass]="{active: activeRoute('/security/roles')}" [authorized]="'security/roles'">
                        <a [routerLink]="['/security/roles']">Roles</a>
                    </li>
                    <li [ngClass]="{active: activeRoute('/security/users')}" [authorized]="'security/users'">
                        <a [routerLink]="['/security/users']">Usuarios</a>
                    </li>
                    <li [ngClass]="{active: activeRoute('security/policies')}" [authorized]="'security/policies'">
                        <a [routerLink]="['/security/policies']">Políticas</a>
                    </li>
                </ul>
            </li>
            <li [ngClass]="{active: activeRoute('cambiarContrasena')}">
                <a [routerLink]="['/cambiarContrasena']"><i class="fa fa-th-large"></i> <span class="nav-label">Cambiar contraseña</span></a>
            </li>
        </ul>

    </div>
</nav>