<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Permisos de {{role?.nombre}}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <alert-box *ngIf="errorMessage" [message]='errorMessage' (close)="closeAlert()"></alert-box>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="Buscar.." class="input-sm form-control" (keyup)="filterList(searchTerm.value)" #searchTerm>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12" style="padding-top:10px;">
                                <h5>Asignados</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="list-group permission-container">
                                    <div *ngFor="let permission of assignedObjects" class="list-group-item">
                                        <span>{{permission.name}}</span>
                                        <button (click)="removePermission(permission)" class="btn right btn-xs btn-danger" style="float:right;" type="button">
                                             <i class=" fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5  col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12" style="padding-top:10px;">
                                <h5>No asignados</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="list-group permission-container">
                                    <div *ngFor="let permission of objectsNotAssigned" class="list-group-item">
                                        <span>{{permission.name}}</span>
                                        <button (click)="assignPermission(permission)" class="btn right btn-xs btn-info" style="float:right;" type="button">
                                             <i class=" fa fa-plus"></i>
                                         </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>