<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <form (ngSubmit)="onSubmit()" #roleForm="ngForm" class="form-horizontal" autocomplete="off">
                    <div class="form-group"><label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" name="nombre" [(ngModel)]="role.nombre" placeholder="Ingrese el nombre" class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <input type="text" name="descripcion" [(ngModel)]="role.descripcion" placeholder="Ingrese la descripción" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Página principal</label>
                        <div class="col-sm-10">
                            <input type="text" name="paginaPrincipal" [(ngModel)]="role.rutaPrincipal" placeholder="Ingrese la página principal (Ruta)" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-default" [routerLink]="['/security/roles']">
                                <i class="fa fa-list"></i> Listado
                            </a>
                            <button class="btn btn-white" (click)="roleForm.reset()">
                                <i class="fa fa-refresh"></i> Reiniciar
                            </button>
                            <button class="btn btn-primary" type="submit" [disabled]="!roleForm.form.valid">
                               <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>