<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <form (ngSubmit)="onSubmit()" #policyForm="ngForm" class="form-horizontal" autocomplete="off">
                    <div class="form-group"><label class="col-sm-2 control-label">Longitud de la clave</label>
                        <div class="col-sm-10">
                            <input type="number" name="longitudClave" [(ngModel)]="policy.longitudClave" placeholder="Ingrese la longitud de la clave"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">¿Debe incluir letras?</label>
                        <div class="col-sm-10">
                            <ui-switch name="incluirLetras" size="small" switchColor="#fcfcfc" [(ngModel)]="policy.incluirLetras"></ui-switch>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">¿Debe incluir números?</label>
                        <div class="col-sm-10">
                            <ui-switch name="incluirNumeros" size="small" switchColor="#fcfcfc" [(ngModel)]="policy.incluirNumeros"></ui-switch>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">¿Debe incluir caracteres?</label>
                        <div class="col-sm-10">
                            <ui-switch name="incluirCaracteres" size="small" switchColor="#fcfcfc" [(ngModel)]="policy.incluirCaracteres"></ui-switch>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Máximo número de intentos</label>
                        <div class="col-sm-10">
                            <input type="number" name="numeroIntentos" [(ngModel)]="policy.numeroIntentos" placeholder="Ingrese el número máximo de intentos"
                                class="form-control">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Tiempo bloqueo (Minutos)</label>
                        <div class="col-sm-10">
                            <input type="number" name="tiempoBloqueo" [(ngModel)]="policy.tiempoBloqueo" placeholder="Ingrese el tiempo de bloqueo para usuarios"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Tiempo sesión cliente (Minutos)</label>
                        <div class="col-sm-10">
                            <input type="number" name="tiempoTokenCliente" [(ngModel)]="policy.tiempoTokenCliente" placeholder="Ingrese el tiempo de sesión para cliente"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Tiempo sesión web (Minutos)</label>
                        <div class="col-sm-10">
                            <input type="number" name="tiempoTokenWeb" [(ngModel)]="policy.tiempoTokenWeb" placeholder="Ingrese el tiempo de sesión para web"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Vigencia de logs</label>
                        <div class="col-sm-10">
                            <input type="number" name="vigenciaLog" [(ngModel)]="policy.vigenciaLog" placeholder="Ingrese el tiempo de vigencia para logs"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" [disabled]="!policyForm.form.valid">
                               <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>