<body class="gray-bg">
    <ng2-slim-loading-bar [color]="'#18A689'" [height]="'4px'"> </ng2-slim-loading-bar>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <h3>Olvidé mi contraseña</h3>
            <form (ngSubmit)="onSubmit()" #formForgot="ngForm" class="m-t" role="form">
                <div class="form-group">
                    <input type="text" name="Username" [(ngModel)]="username" class="form-control" placeholder="Ingrese su nombre de usuario"
                        required>
                </div>
                <button type="submit" [disabled]="!formForgot.form.valid" class="btn btn-primary block full-width m-b">Recuperar</button>
                <a class="btn btn-primary block full-width m-b" [routerLink]="['/login']">Regresar</a>
            </form>
        </div>
    </div>

</body>