<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <form (ngSubmit)="onSubmit()" #passwordChangeForm="ngForm" class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Contraseña anterior</label>
                        <div class="col-sm-10">
                            <input type="password" name="oldPassword" [(ngModel)]="passwordChange.oldPassword" placeholder="Ingrese la contraseña anterior" class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nueva contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" name="newPassword" [(ngModel)]="passwordChange.newPassword" placeholder="Ingrese su nueva contraseña" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Confirmar nueva contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" name="confirmPassword" [(ngModel)]="passwordChange.confirmPassword" placeholder="Confirme su nueva contraseña" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-default" [routerLink]="['/security/users']" [authorized]="'security/users/consultar'">
                                <i class="fa fa-list"></i> Listado
                            </a>
                            <button class="btn btn-primary" type="submit" [authorized]="'security/users/cambiarContrasena'" [disabled]="!passwordChangeForm.form.valid">
                               <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>