<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <alert-box *ngIf="errorMessage" [message]='errorMessage' (close)="closeAlert()"></alert-box>
                </div>
                <div class="row">
                    <div class="col-sm-offset-9 col-sm-3">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Buscar.." class="input-sm form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" (click)="search()"> Buscar</button> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Objeto </th>
                                <th>Rol</th>
                                <th>Comentario</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of logs">
                                <td>{{log.usuario}}</td>
                                <td>{{log.objeto}}</td>
                                <td>{{log.rol}}</td>
                                <td>{{log.comentario}}</td>
                                <td>{{log.fecha | date:'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr *ngIf="logs.length == 0">
                                <td colspan="5">No hay registros disponibles</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <nav class="col-sm-offset-10 col-sm-2">
                        <ul class="pagination" style="float:right;">
                            <li>
                                <button class="btn btn-default"  [disabled]="currentPage == 0" (click)="previous()" aria-label="Previous">
                                    <i class="fa fa-backward"></i>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-default" [disabled]="logs.length != pageLimit"  (click)="next()" aria-label="Next">
                                    <i class="fa fa-forward"></i>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>