<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <alert-box *ngIf="errorMessage" [message]='errorMessage' (close)="closeAlert()"></alert-box>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-sm btn-primary" (click)="newObject()" [authorized]="'security/objects/create'">Nuevo</button>
                    </div>
                    <div class="col-sm-offset-7 col-sm-3">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Buscar.." class="input-sm form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" (click)="search()"> Buscar</button> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tipo de objeto</th>
                                <th>Objeto relacionado</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objeto of objetos">
                                <td>{{objeto.nombreLogico}}</td>
                                <td>{{objeto.tipoObjeto}}</td>
                                <td>{{objeto.nombreObjetoRelacionado}}</td>
                                <td>
                                    <status-box [estatus]='objeto.estatus'></status-box>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs" (click)="editObject(objeto)" [authorized]="'security/objects/update'">
                                        <i class="fa fa-pencil"></i>
                                    </button> 
                                    <button class="btn btn-danger btn-xs" (click)="removeObject(objeto)" [authorized]="'security/objects/delete'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="objetos.length == 0">
                                <td colspan="5">No hay registros disponibles</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <nav class="col-sm-offset-10 col-sm-2">
                        <ul class="pagination" style="float:right;">
                            <li>
                                <button class="btn btn-default" [disabled]="currentPage == 0" (click)="previous()" aria-label="Previous">
                                    <i class="fa fa-backward"></i>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-default" [disabled]="objetos.length != pageLimit" (click)="next()" aria-label="Next">
                                    <i class="fa fa-forward"></i>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>