<body class="gray-bg">
    <ng2-slim-loading-bar [color]="'#18A689'" [height]="'4px'"> </ng2-slim-loading-bar>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <h3>Cambiar contraseña</h3>
            <form (ngSubmit)="onSubmit()" #formChangePassword="ngForm" class="m-t" role="form">
                <div class="form-group">
                    <input type="password" name="contrasena" [(ngModel)]="passwordChange.contrasena" class="form-control" placeholder="Ingrese su nueva contraseña"
                        required>
                </div>
                <div class="form-group">
                    <input type="password" name="confirmarContrasena" [(ngModel)]="passwordChange.confirmacion" class="form-control" placeholder="Confirmar contraseña"
                        required>
                </div>
                <button type="submit" [disabled]="!formChangePassword.form.valid" class="btn btn-primary block full-width m-b">Guardar</button>
                <a class="btn btn-primary block full-width m-b" [routerLink]="['/login']">Regresar</a>
            </form>
        </div>
    </div>

</body>