<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <alert-box *ngIf="errorMessage" [message]='errorMessage' (close)="closeAlert()"></alert-box>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-sm btn-primary" (click)="newUser()" [authorized]="'security/users/create'">Nuevo</button>
                    </div>
                    <div class="col-sm-offset-7 col-sm-3">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Buscar.." class="input-sm form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" (click)="search()"> Buscar</button> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Usuario </th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Estatus</th>
                                <th [authorized]="'security/users/asignarRol'">Roles</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{user.nombre}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.correo}}</td>
                                <td>{{user.telefono}}</td>
                                <td>
                                    <status-box [estatus]="user.estatus"></status-box>
                                </td>
                                <td [authorized]="'security/users/asignarRol'">
                                    <button class="btn btn-info btn-xs" (click)="assignRoles(user)" [disabled]="user.estatus != 'ACT'">
                                        <i class="fa fa-gear"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs" [disabled]="user.estatus != 'ACT'" (click)="editUser(user)" [authorized]="'security/users/update'">
                                        <i class="fa fa-pencil"></i>
                                    </button> 
                                    <button class="btn btn-danger btn-xs" [disabled]="user.estatus != 'ACT'" (click)="removeUser(user)" [authorized]="'security/users/delete'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn btn-default btn-xs" title="Regenerar contraseña" (click)="regeneratePassword(user)" [disabled]="user.estatus != 'ACT'" [authorized]="'security/users/regeneratePassword'">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="users.length == 0">
                                <td colspan="8">No hay registros disponibles</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <nav class="col-sm-offset-10 col-sm-2">
                        <ul class="pagination" style="float:right;">
                            <li>
                                <button class="btn btn-default" [disabled]="currentPage == 0" (click)="previous()" aria-label="Previous">
                                    <i class="fa fa-backward"></i>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-default" [disabled]="users.length != pageLimit" (click)="next()" aria-label="Next">
                                    <i class="fa fa-forward"></i>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>