<body class="gray-bg">
    <ng2-slim-loading-bar [color]="'#18A689'" [height]="'4px'"> </ng2-slim-loading-bar>
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <h3>Inicio de sesión</h3>
            <form (ngSubmit)="onSubmit()" #formLogin="ngForm" class="m-t" role="form">
                <div class="form-group">
                    <input type="text" name="Username" [(ngModel)]="loginInfo.username" class="form-control" placeholder="Ingrese su nombre de usuario"
                        required>
                </div>
                <div class="form-group">
                    <input type="password" name="contrasena" [(ngModel)]="loginInfo.contrasena" class="form-control" placeholder="Ingrese su contraseña"
                        required>
                </div>
                <alert-box *ngIf="errorMessage" [message]="errorMessage" (close)="closeAlert()"></alert-box>
                <button type="submit" [disabled]="!formLogin.form.valid" class="btn btn-primary block full-width m-b">Login</button>
                <a href="#" [routerLink]="['/login/forgot']"><small>Olvidó contraseña?</small></a>
            </form>
            <p class="m-t"> <small>Jefri J. Martinez - Seguridad 2017</small> </p>
        </div>
    </div>

</body>