<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <form (ngSubmit)="onSubmit()" #objetoForm="ngForm" class="form-horizontal" autocomplete="off">
                    <div class="form-group"><label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" name="nombre" [(ngModel)]="objeto.nombreLogico" placeholder="Ingrese el nombre" class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Nombre físico (Interno)</label>
                        <div class="col-sm-10">
                            <input type="text" name="nombreFisico" [(ngModel)]="objeto.nombreFisico" placeholder="Ingrese la descripción" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Tipo de objeto</label>
                        <div class="col-sm-10">
                            <select name="tipoObjeto" [(ngModel)]='objeto.tipoObjeto' class="form-control" required>
                                <option value="">Seleccione una opción</option>
                                <option *ngFor="let item of objectTypes">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Objeto relacionado</label>
                        <div class="col-sm-10">
                            <ng-select #selectActiveObjects [options]='activeObjects' 
                                       [placeholder]="'Seleccione el objeto relacionado'"
                                       [notFoundMsg]="'No se encontraron resultados'"
                                       [allowClear]='true'
                                       name="objetoRelacionado">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-default" [routerLink]="['/security/objects']">
                                <i class="fa fa-list"></i> Listado
                            </a>
                            <button class="btn btn-white" (click)="objetoForm.reset()">
                                <i class="fa fa-refresh"></i> Reiniciar
                            </button>
                            <button class="btn btn-primary" type="submit" [disabled]="!objetoForm.form.valid">
                               <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>