<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" name="nombre" [(ngModel)]="user.nombre" placeholder="Ingrese el nombre" class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre de usuario</label>
                        <div class="col-sm-10">
                            <input type="text" name="username" [(ngModel)]="user.username" placeholder="Ingrese el nombre de usuario" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">E-mail</label>
                        <div class="col-sm-10">
                            <input type="email" name="correo" [(ngModel)]="user.correo" placeholder="Ingrese el correo electrónico" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Teléfono</label>
                        <div class="col-sm-10">
                            <input type="text" name="telefono" [(ngModel)]="user.telefono" placeholder="Ingrese el número telefónico" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-default" [routerLink]="['/security/users']">
                                <i class="fa fa-list"></i> Listado
                            </a>
                            <button class="btn btn-white" (click)="userForm.reset()">
                                <i class="fa fa-refresh"></i> Reiniciar
                            </button>
                            <button class="btn btn-primary" type="submit" [disabled]="!userForm.form.valid">
                               <i class="fa fa-save"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>